<template>
  <div>
    <div>
      <v-toolbar flat color="red">
        <v-toolbar-title class="white--text">Consultorios</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn color="success" dark @click="dialog = !dialog">
          <v-icon>mdi-plus</v-icon> Agregar consultorio
        </v-btn>
      </v-toolbar>
      <v-data-table :headers="headers" :items="desserts" class="elevation-1">
        <template v-slot:[`item.Hospital_nombre`]="{ item }">
          <h5>{{ item.hospital.unidad_medica }}</h5>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <div class="text-center">
            <v-menu top>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                  <v-icon color="white">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item @click="dialog_actualizar(item)">
                  <v-list-item-title
                    ><v-icon color="black">mdi-pencil-outline</v-icon>
                    Editar</v-list-item-title
                  >
                </v-list-item>

                <v-list-item @click="eliminar_datos(item.id)">
                  <v-list-item-title
                    ><v-icon color="black">mdi-delete-outline</v-icon>
                    Eliminar</v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </template>
      </v-data-table>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="text-h5">Agregar consultorio</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="formulario">
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Numero consultorio*"
                    required
                    type="number"
                    :rules="nameRules"
                    v-model="consultorio.numero_consultorio"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Nombre de medico que atiende*"
                    :rules="nameRules"
                    v-model="consultorio.medico_atiende"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Clave unica*"
                    required
                    :rules="nameRules"
                    v-model="consultorio.clave_unica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    dense
                    class="mt-6"
                    v-model="consultorio.hospital_id"
                    :items="hospitales"
                    label="Hospital*"
                    item-text="unidad_medica"
                    item-value="id"
                  ></v-select>
                </v-col>
              </v-row>
            </v-form>
            <small>*indica que los campos son requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cerrar_dialog">
              Cerrar
            </v-btn>
            <v-btn color="blue darken-1" text @click="agregar_datos">
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogA" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="text-h5">Editar consultorio</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="formulario">
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Numero consultorio*"
                    required
                    :rules="nameRules"
                    v-model="consultorio.numero_consultorio"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Nombre de medico que atiende*"
                    :rules="nameRules"
                    v-model="consultorio.medico_atiende"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Clave unica*"
                    required
                    :rules="nameRules"
                    v-model="consultorio.clave_unica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    dense
                    class="mt-6"
                    v-model="consultorio.hospital_id"
                    :items="hospitales"
                    label="Hospital*"
                    item-text="unidad_medica"
                    item-value="id"
                  ></v-select>
                </v-col>
              </v-row>
            </v-form>
            <small>*indica que los campos son requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cerrar_dialog">
              Cerrar
            </v-btn>
            <v-btn color="blue darken-1" text @click="actualizar_datos">
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-btn
      color="primary"
      dark
      @click="$router.push({ name: 'index' })"
      class="mt-5 ml-2"
    >
      <v-icon>mdi-arrow-left</v-icon>Hospitales
    </v-btn>
    <v-snackbar v-model="snackbar">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      data: [],
      search: "",
      headers: [
        { text: "Numero de consultorio", value: "numero_consultorio" },
        { text: "Nombre del encargado", value: "medico_atiende" },
        { text: "Clave unica", value: "clave_unica" },
        { text: "Hospital", value: "Hospital_nombre" },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      desserts: [],
      hospitales: [],
      dialog: false,
      dialogA: false,
      snackbar: false,
      text: "",
      consultorio: {
        id: null,
        numero_consultorio: null,
        medico_atiende: null,
        clave_unica: null,
        hospital_id: null,
      },

      nameRules: [(v) => !!v || "El campo es requerido"],
    };
  },
  mounted() {
    this.get_datos();
    this.get_hospitales();
  },
  name: "ConsultorView",
  methods: {
    dialog_actualizar(item) {
      this.dialogA = true;
      let array = {
        id: item.id,
        numero_consultorio: item.numero_consultorio,
        medico_atiende: item.medico_atiende,
        clave_unica: item.clave_unica,
        hospital_id: item.hospital_id,
      };
      this.consultorio = Object.assign({}, array);
    },
    validar() {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      }
      console.log(this.consultorio);
    },
    cerrar_dialog() {
      this.consultorio = {
        id: null,
        numero_consultorio: null,
        medico_atiende: null,
        clave_unica: null,
        hospital_id: null,
      };
      this.dialog = false;
      this.dialogA = false;
    },
    get_datos: async function () {
      await window.axios.get("consultorio").then((resp) => {
        this.desserts = resp.data;
      });
    },
    get_hospitales: async function () {
      await window.axios.get("hospital").then((resp) => {
        this.hospitales = resp.data;
      });
      console.log(this.hospitales);
    },
    agregar_datos: async function () {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      } else {
        await window.axios
          .post("consultorio", this.consultorio)
          .then((resp) => {
            if (resp.data.status) {
              console.log("se hizo");
              this.snackbar = true;
              this.text = "Se agrego correctamente el consultorio";
              this.cerrar_dialog();
              this.get_datos();
            } else {
              this.snackbar = true;
              this.text = "No se agrego correctamente el consultorio";
            }
          });
      }
    },
    actualizar_datos: async function () {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      } else {
        await window.axios
          .patch("/consultorio/" + this.consultorio.id, this.consultorio)
          .then((resp) => {
            if (resp.data.status) {
              console.log("se hizo");
              this.snackbar = true;
              this.text = "Se actualizo correctamente el consultorio";
              this.cerrar_dialog();
              this.get_datos();
            } else {
              this.snackbar = true;
              this.text = "No se actualizo correctamente el consultorio";
            }
          });
      }
    },
    eliminar_datos: async function (id) {
      await window.axios.delete("/consultorio/" + id).then((response) => {
        if (response.data.status) {
          this.snackbar = true;
          this.text = "Se elimino correctamente el consultorio";
          this.get_datos();
        } else {
          this.snackbar = true;
          this.text = "Hubo un error al eliminar el consultorio";
        }
      });
    },
  },
};
</script>

<style>
</style>