<template>
  <div>
    <div>
      <v-toolbar flat color="red">
        <v-toolbar-title class="white--text">Hospitales</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn color="success" dark @click="dialog = !dialog">
          <v-icon>mdi-plus</v-icon> Agregar hospital
        </v-btn>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="desserts"
        class="elevation-1 mb-5"
      >
        <template v-slot:[`item.consultoriosT`]="{ item }">
          <h5>{{ item.consultorios.length }}</h5>
        </template>
        <template v-slot:[`item.direccionW`]="{ item }">
          <h5>{{ item.direccion.calle }}</h5>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <div class="text-center">
            <v-menu top>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                  <v-icon color="white">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item @click="dialog_actualizar(item)">
                  <v-list-item-title
                    ><v-icon color="black">mdi-pencil-outline</v-icon>
                    Editar</v-list-item-title
                  >
                </v-list-item>

                <v-list-item @click="eliminar_datos(item.id)">
                  <v-list-item-title
                    ><v-icon color="black">mdi-delete-outline</v-icon>
                    Eliminar</v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </template>
      </v-data-table>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="text-h5">Agregar hospital</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="formulario">
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Unidad medica*"
                    required
                    :rules="nameRules"
                    v-model="hospital.unidad_medica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Nombre encargado*"
                    :rules="nameRules"
                    v-model="hospital.nombre_encargado"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Clave unica*"
                    required
                    :rules="nameRules"
                    v-model="hospital.clave_unica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-card-subtitle>
                    <span class="text-h6">Direccion</span>
                  </v-card-subtitle>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Calle*"
                    required
                    :rules="nameRules"
                    v-model="hospital.calle"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Cruzamiento 1*"
                    required
                    :rules="nameRules"
                    v-model="hospital.cruzamiento1"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Cruzamiento 2"
                    required
                    v-model="hospital.cruzamiento2"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Codigo postal*"
                    required
                    type="number"
                    :rules="nameRules"
                    v-model="hospital.codigo_postal"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
            <small>*indica que los campos son requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cerrar_dialog">
              Cerrar
            </v-btn>
            <v-btn color="blue darken-1" text @click="agregar_datos">
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogA" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="text-h5">Actualizar hospital</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="formulario">
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Unidad medica*"
                    required
                    :rules="nameRules"
                    v-model="hospital.unidad_medica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Nombre encargado*"
                    :rules="nameRules"
                    v-model="hospital.nombre_encargado"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Clave unica*"
                    required
                    :rules="nameRules"
                    v-model="hospital.clave_unica"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-card-subtitle>
                    <span class="text-h6">Direccion</span>
                  </v-card-subtitle>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Calle*"
                    required
                    :rules="nameRules"
                    v-model="hospital.calle"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Cruzamiento 1*"
                    required
                    :rules="nameRules"
                    v-model="hospital.cruzamiento1"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Cruzamiento 2"
                    required
                    v-model="hospital.cruzamiento2"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Codigo postal*"
                    type="number"
                    required
                    :rules="nameRules"
                    v-model="hospital.codigo_postal"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
            <small>*indica que los campos son requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cerrar_dialog">
              Cerrar
            </v-btn>
            <v-btn color="blue darken-1" text @click="actualizar_datos">
              Actualizar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-btn
      color="primary"
      dark
      @click="$router.push({ name: 'consulta' })"
      class="mt-5 ml-2"
    >
      Consultorios<v-icon>mdi-arrow-right</v-icon>
    </v-btn>
    <v-snackbar v-model="snackbar">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      data: [],
      search: "",
      headers: [
        { text: "Unidad medica", value: "unidad_medica" },
        { text: "Nombre del encargado", value: "nombre_encargado" },
        { text: "Clave unica", value: "clave_unica" },
        { text: "Calle", value: "direccionW" },
        { text: "Numero de consultorios", value: "consultoriosT" },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      desserts: [
        // {id: 1, nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
        // {id: 2,nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
        // {id: 3,nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
        // {id: 4,nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
        // {id: 5,nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
        // {id: 6,nombre: "jesus",apellido_p: "chale",apellido_m: "cuxim"},
      ],
      dialog: false,
      dialogA: false,
      snackbar: false,
      text: "",
      hospital: {
        id: null,
        unidad_medica: null,
        nombre_encargado: null,
        direccion_id: null,
        clave_unica: null,
        calle: null,
        cruzamiento1: null,
        cruzamiento2: null,
        codigo_postal: null,
      },

      nameRules: [(v) => !!v || "El campo es requerido"],
    };
  },
  mounted() {
    this.get_datos();
  },
  name: "HomeView",
  methods: {
    dialog_actualizar(item) {
      this.dialogA = true;
      let array = {
        id: item.id,
        unidad_medica: item.unidad_medica,
        nombre_encargado: item.nombre_encargado,
        clave_unica: item.clave_unica,
        direccion_id: item.direccion_id,
        calle: item.direccion.calle,
        cruzamiento1: item.direccion.cruzamiento,
        cruzamiento2: item.direccion.cruzamiento2,
        codigo_postal: item.direccion.codigo_postal,
      };
      this.hospital = Object.assign({}, array);
    },
    cerrar_dialog() {
      this.hospital = {
        id: null,
        unidad_medica: null,
        nombre_encargado: null,
        direccion_id: null,
        clave_unica: null,
        calle: null,
        cruzamiento1: null,
        cruzamiento2: null,
        codigo_postal: null,
      };
      this.dialog = false;
      this.dialogA = false;
    },
    validar() {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      }
      console.log(this.hospital);
    },
    get_datos: async function () {
      await window.axios.get("hospital").then((resp) => {
        this.desserts = resp.data;
      });
    },
    agregar_datos: async function () {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      } else {
        await window.axios.post("hospital", this.hospital).then((resp) => {
          if (resp.data.status) {
            console.log("se hizo");
            this.snackbar = true;
            this.text = "Se agrego correctamente el hospital";
            this.cerrar_dialog();
            this.get_datos();
          } else {
            this.snackbar = true;
            this.text = "No se agrego correctamente el hospital";
          }
        });
      }
    },
    actualizar_datos: async function () {
      var validar = this.$refs.formulario.validate();
      if (!validar) {
        return false;
      } else {
        await window.axios
          .patch("/hospital/" + this.hospital.id, this.hospital)
          .then((resp) => {
            if (resp.data.status) {
              console.log("se hizo");
              this.snackbar = true;
              this.text = "Se actualizo correctamente el hospital";
              this.cerrar_dialog();
              this.get_datos();
            } else {
              console.log("no se hizo");
              this.snackbar = true;
              this.text = "No se agrego correctamente el hospital";
            }
          });
      }
    },
    eliminar_datos: async function (id) {
      await window.axios.delete("/hospital/" + id).then((response) => {
        if (response.data.status) {
          this.snackbar = true;
          this.text = "Se elimino correctamente el hospital";
          this.get_datos();
        } else {
          this.snackbar = true;
          this.text = "Hubo un error al eliminar el hospital";
        }
      });
    },
  },
};
</script>

<style>
</style>